.btn {
padding: 8px 16px;
gap: 10px;

width: 91px;
height: 40px;

border: none;
background: #4E75FF;
border-radius: 8px;

/* text */
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
}
.btn:hover{
    background: #6C8CFF;
}
/* .search-btn {
} */

.loadMore-btn[data-visible="false"] {
    display: none;
}
.loadMore-btn {
    visibility: visible;
    width: 150px;

}